
div{
    border-left : 4px dashed purple;
    border-right: 4px dashed green;
    border-top : 4px dashed red;
    border-block-end: 4px dashed blue;
    padding:  1px;
    background: white;
    width: 65%;
    
   }
  table{
    width: 100%;
    border-collapse: collapse;
    background-clip: padding-box;
   }
   
   tr{
     background-color: orange;
     color: wheat
   }
   th {background-color: #b6d6e3;
     color: #3f7b1c ;
     text-align: left;
     font-size: 24px;
   }
  td{background-color: #ee6c52;
     color: #fec769
   }
  th:hover {
    background-color:#fffd52;
    color:black;
  }
