body{
    background-color: #a8aba7
    ;
}

img.B{
    width: 101%;
    height: 562PX;

}

img.A{
   -moz-animation-duration: 7s;
   -webkit-animation-duration: 18s;
   -moz-animation-name: slidein;
   -webkit-animation-name: slidein;
   background-color: #a8aba74b

}
@-moz-keyframes slidein {
   from {
      margin-left:90%;
   }
   to {
      margin-left:0%;
   }
}
@-webkit-keyframes slidein {
   from {
      margin-left:90%;
   }
   to {
      margin-left:-15%;
   }
}